In [ ]:
#TUGAS SESI 5 BUKAN PRAKTIKUM

In [1]:
# 1.Buatlah biodata sederhana dengan menggunakan fungsi input(), dan output variabel dengan fungsi format().
print("=======================================Mulai=======================================================")
nama = input("masukan nama : ")
kelas = input("masukan kelas : ")
nim  = input("masukan nim : ")
jurusan  = input("masukan jurusan : ")
hobi = input("masukan hobi : ")

print("Hello, nama saya %s, kelas saya %s, nim %s, jurusan %s, hobi %s " % (nama, kelas, nim, jurusan, hobi))
print("==========================================Selesai===================================================")

=======================================Mulai=======================================================
masukan nama : Marwah Adriani
masukan kelas : Ti22F
masukan nim : 20220040154
masukan jurusan : Teknik Informatika
masukan hobi : Badminton
Hello, nama saya Marwah Adriani, kelas saya Ti22F, nim 20220040154, jurusan Teknik Informatika, hobi Badminton
==========================================Selesai===================================================

In [ ]:
# 2.Jika terdapat kalimat UNIVERSITAS NUSA PUTRA SUKABUMI ,buatlah kode program untuk menampilkan output:
    a.putra nusa
    b.NIVERSITAS NSA PTRA SKABMI
    c.SUKABUMI PUTRA NUSA UNIVERSITAS
    d.UNPS
    e.TAS SAPU BUMI

In [2]:
print("=======================================Mulai=======================================================")
judul = "UNIVERSITAS NUSA PUTRA SUKABUMI"

a = judul[17:22].lower()+' '+judul[12:16].lower()
b = judul[1:11]+' '+judul[12]+judul[14:16]+' '+judul[17]+judul[19:22]+' '+judul[22:31].upper()
c = judul[23:31]+' '+judul[17:22]+' '+judul[12:16]+' '+judul[0:11].upper()
d = judul[0]+judul[12]+judul[17]+judul[23].upper()
e = judul[8:11]+' '+judul[14:16]+judul[17:19]+' '+judul[27:31].upper()

print("JAWABAN OPTION A :", a)
print("JAWABAN OPTION B :", b)
print("JAWABAN OPTION C :", c)
print("JAWABAN OPTION D :", d)
print("JAWABAN OPTION E :", e)
print("==========================================Selesai===================================================")

=======================================Mulai=======================================================
JAWABAN OPTION A : putra nusa
JAWABAN OPTION B : NIVERSITAS NSA PTRA  SUKABUMI
JAWABAN OPTION C : SUKABUMI PUTRA NUSA UNIVERSITAS
JAWABAN OPTION D : UNPS
JAWABAN OPTION E : TAS SAPU BUMI
==========================================Selesai===================================================